<h1>Dashboard</h1>
<form action="/blog" method="post">
<input type="text" name="title">
<textarea name="contents" id="blog_content" cols="30" rows="10"></textarea>
<input type="submit" value="create">
<input type="reset" value="reset">
</form>