
<div class="block">

<h2>Create Post</h2>
<form action="/blog" method="post"><label for="">Title</label>
<input type="text" name="title"> <label for="">Content</label>
<textarea name="contents" id="blog_content" cols="30" rows="10"></textarea>
<input type="submit" value="Create">
<input type="reset" value="Reset">
</form>
<h2>My Posts</h2>
{{#each posts}}
<div class="post"> 
   
    <h3>{{this.title}}</h3>
     <h5>{{this.created_on}}</h5>
    <p>{{this.contents}}</p>
    <a href="/blog/update/{{this.title}}">Edit</a>
</div>
{{/each}}
</div> 
    