<div class="block">
<h1>
    Recent Posts
</h1>
{{#each posts}}
<div class="post"> 
   
    <h3>{{this.title}}</h3>
     <h5>{{this.created_on}}</h5>
    <p>{{this.contents}}</p>
    
</div>
{{/each}}
</div>