body {
    margin: 0;

}

header {
    height: 50px;
    display: flex;
    background: darkblue;
    color: white;
    padding:  12px 24px;
    justify-content: space-between;
    align-items: center;

}
a {
    color: white;
    text-decoration: none;
    margin-left: 24px;
}    
.title {
    font-size: 30px;
}


